/* FLEXBOXIFY - Fichier maison pour construire des grilles basées sur le flexbox de manière responsive */

/* Basique (optimisée pour écran de plus de 15 pouces)*/

.ligne{
    display: flex;
    justify-content: space-around;
}
.colonne{
    margin: 10px;
    width: 100%;
}

/* Petit écran */
@media screen and (max-width: 1024px){
    .colonne{
        margin: 8px;
    }
}

/* Tablette */
@media screen and (max-width: 768px){
    .colonne{
        margin: 5px;
    }
}

/* Mobile */
@media screen and (orientation: portrait){
    .ligne{
        display: flex;
        flex-direction: column;
    }
}