@charset "UTF-8";
/* Les sections SCSS sont (presque) ordonnés de la même manière que les section HTML */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
/* Version normale (concu pour ordinateur portable 15 pouces) */
/* Body */
body {
  scroll-behavior: smooth;
  background-color: #6C655D;
  font-family: "Arimo", sans-serif;
}

.main-content {
  background-color: #FFFFFF;
  margin-left: 10%;
  margin-right: 10%;
}

/* Navbar */
.nv {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
}

.btn-nv {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  color: #808080;
  text-decoration: none;
}
.btn-nv:hover {
  background-color: #662F32;
  color: #FFFFFF;
}

#mn-mob-nv {
  display: none;
}

/* Titre du site */
.title-site {
  text-align: center;
  font-size: 100px;
  color: #000000;
}
.title-site .ht {
  color: #662F32;
}

#HTitle {
  font-size: 95px;
}

/* Caroussel (ou visionneur d'images) */
.caroussel {
  display: flex;
  justify-content: center;
}

.caroussel-preview {
  display: flex;
  justify-content: center;
}

.img-caroussel {
  width: 100%;
  height: auto;
}

.carre-caroussel {
  width: 64px;
  height: 64px;
  margin: 10px;
  transition: 0.5s;
}
.carre-caroussel:hover {
  width: 150px;
  height: 64px;
  transition: 0.5s;
}

/* Cartes */
.rail-card {
  margin: 10px;
}

.img-card {
  width: 100%;
}

.button-card {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-color: #6C655D;
}
.button-card .c1 {
  content: url("/images/fn/plus_btn.png");
}
.button-card .c1:hover {
  content: url("/images/fn/plus_btn_h.png");
}
.button-card .c2 {
  content: url("/images/fn/plus_btn.png");
}
.button-card .c2:hover {
  content: url("/images/fn/plus_btn_h.png");
}
.button-card .c3 {
  content: url("/images/fn/plus_btn.png");
}
.button-card .c3:hover {
  content: url("/images/fn/plus_btn_h.png");
}

.title-card {
  background-color: #662F32;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
}

.p-card {
  padding: 2px;
  margin: 0px;
  background-color: #6C655D;
  color: #FFFFFF;
}

/* Contenu à disposition classique */
.rail-content {
  margin: 10px;
}

.title-classic {
  display: flex;
}

.ul-test {
  list-style-image: url("/images/fn/arrow.png");
}

.button-basic {
  color: #FFFFFF;
  background-color: #6C655D;
  border: 2px;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.button-basic:hover {
  background-color: #564D48;
}

/* Pied de page */
.line-footer {
  background-color: #000000;
  width: 100%;
  height: 1px;
}

.img-ispace {
  width: 72.5px;
  height: 22.5px;
}

.container-img {
  height: 32px;
  width: 64px;
  background-image: url("/images/fn/reseaux.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  transition: 0.3s;
}
.container-img:hover {
  background-position: 0px -32px;
  transition: 0.5s;
}

.reseau-1 {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.reseau-2 {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.reseau-3 {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

/* Verion petit écran */
@media screen and (max-width: 1024px) {
  /* Titre du site */
  .title-site {
    font-size: 64px;
  }

  #HTitle {
    font-size: 62px;
  }

  /* Navbar */
  .nv {
    display: flex;
    justify-content: space-between;
  }

  .btn-nv {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
/* Version tablette */
@media screen and (max-width: 768px) {
  /* Titre du site */
  .title-site {
    font-size: 64px;
  }

  #HTitle {
    font-size: 62px;
  }

  /* Navbar */
  .nv {
    display: flex;
    justify-content: space-between;
  }

  .btn-nv {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Cartes */
  .p-card {
    font-size: 24px;
  }

  .title-card {
    font-size: 25px;
  }
}
/* Version mobile */
@media screen and (orientation: portrait) {
  /* Navbar */
  .nv {
    display: flex;
    flex-direction: column;
  }

  #nv {
    display: none;
  }
  #nv:target {
    display: flex;
    flex-direction: column;
  }

  #close:target #nv {
    display: none;
  }

  .btn-nv {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 50px;
  }

  #mn-mob-nv {
    display: block;
    width: 70px;
    height: auto;
    margin: 5px;
  }

  /* Titre du site */
  .title-site {
    font-size: 40px;
  }

  #HTitle {
    font-size: 38px;
  }

  /* Body */
  body {
    scroll-behavior: smooth;
    background-color: #FFFFFF;
  }

  .main-content {
    margin: 0%;
  }

  /* Contenu à disposition classique */
  .button-basic {
    font-size: 30px;
  }

  /* Pied de page */
  .img-ispace {
    width: 145px;
    height: 45px;
  }

  .txt-footer {
    font-size: 25px;
  }
}

/*# sourceMappingURL=ispace.css.map */
